<div id="tabs2-pane5" class="tab-pane">	    	
	<div class="span4">
	 	<form role="form">
	 		<p class="help-block">FedEx API Settings Entry</p>
	 		<div class="form-group">
				<label for="FedExAccount">Account</label>
				<input type="text" class="form-control" id="FedExAccount" placeholder="">
			</div>
	 		<div class="form-group">
				<label for="FedExKey">Key</label>
				<input type="text" class="form-control" id="FedExKey">
			</div>
	 		<div class="form-group">
				<label for="FedExMeter">Meter</label>
				<input type="text" class="form-control" id="FedExMeter">
			</div>
	 		<div class="form-group">
				<label for="FedExPassword">Password</label>
				<input type="text" class="form-control" id="FedExPassword">
			</div>
			<button type="submit" class="btn btn-default" id="settingChange">Update Values</button>
		</form> <!-- END FORM -->
	</div>

	<!-- EXPLAIN VALUES TO BE ADDED -->
	<div>Overview here of how to acquire and load FedEx Values</div>

</div>
