<div class="span10">
	<button type="submit" class="btn btn-default" id="fileUpload">Upload Data</button>
	<hr/>
	<div id="uploadData"></div>

	<table border="1" width=100%>
		<tr>
			<th>Count</th>
			<th>Origional</th>
			<th>Select</th>
			<th>Suggested</th>
		</tr>
		
		<tr ng-repeat="address in addresses">
			<div>
				<td>{{address.checkvalues[0].index}}</td>


				<!-- Origional Values -->
				<td>{{address.addvalues[0].name}} <br/>
				{{address.addvalues[0].address}}
				{{address.addvalues[0].city}}, {{address.addvalues[0].state}} {{address.addvalues[0].zip}} - {{address.addvalues[0].resi}}</td>

				<!-- Data Selection -->
				<td>SELECT</td>

				<!-- FedEx Provided Values -->
				<td>{{address.checkvalues[0].name}} <br/>
				{{address.checkvalues[0].address}}
				{{address.checkvalues[0].city}}, {{address.checkvalues[0].state}} {{address.checkvalues[0].zip}} - {{address.checkvalues[0].resi}}</td>
			</div>
		</tr>
		
	</table>
</div>	
